<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:javaee="http://xmlns.jcp.org/xml/ns/javaee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
  <servlet>
    <servlet-name>LoginController</servlet-name>
    <servlet-class>com.fooddelivery.presentation.LoginController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginController</servlet-name>
    <url-pattern>/LoginController</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>MenuController</servlet-name>
    <servlet-class>com.fooddelivery.presentation.MenuController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MenuController</servlet-name>
    <url-pattern>/MenuController</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>RestaurantController</servlet-name>
    <servlet-class>com.fooddelivery.presentation.RestaurantController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RestaurantController</servlet-name>
    <url-pattern>/RestaurantController</url-pattern>
  </servlet-mapping>
 <servlet>
    <servlet-name>ItemController</servlet-name>
    <servlet-class>com.fooddelivery.presentation.ItemController</servlet-class>
  </servlet>
   <servlet-mapping>
    <servlet-name>ItemController</servlet-name>
    <url-pattern>/ItemController</url-pattern>
  </servlet-mapping>
</web-app>